  /* Animation for rotating and sliding down */
  .animation-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 350px;
      cursor: pointer;
      transition: transform 3s ease-in-out, opacity 3s ease-in-out;
    }
    
    .pack-image {
      width: auto;
      height: 100%;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }
    
    /* Animation class for rotation and slide down */
    .animation-container.animate {
      transform: rotate(20deg) translateY(500px) scale(1);
      
    }
    
    /* Fade-in animation for pack details */
    .pack-details {
      animation: fadeIn 0.5s ease-in-out;
    }
    
    
    
    