/* styles.css */
body {
    margin: 0;
    height: 100vh;
    background-color: #0a0a17 /* Dark blue background */
    
     }
  
     .custom-purple-border {
        border-color: #8b5cf6 !important;
      }

      .card-img{
        height: 25vh;
        width: 100%;
        filter: drop-shadow(0 -0.8rem 1.3rem #74a4e2);
        padding-top: 10px;
        padding-bottom: 10px;
        object-fit: contain;

      }
      .final-img{
        filter: drop-shadow(0 0 1.3rem #74a4e2)
      }
      .mask-img{
        height: 29vh;
        width: 100%;
        object-fit: cover;  

      }
      
      .modal-content {
        
        color: #fff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
      }
      
      .btn-primary {
        background-color: #342a9b;
        border-color: #342a9b;
      }
      
    .nav-buttons {
      background-color: #201955;
      font-family: 'Bangers';
      border-radius: 20px;
      color: white;
    }
        
      .btn-close {
        color: #fff;
        opacity: 1;
      }
      
      .modal-body img {
        transition: transform 0.3s ease;
      }
      
      
      
      .pack-image {
        width: auto;
        height: 350px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        transition: transform 2s ease-in-out;
        cursor: pointer;
      }
      
      .pack-image.animate {
        transform: rotate(-10deg) scale(1.1);
      }
      
      .pack-details {
        animation: fadeIn 1s ease-in-out;
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      

      /* Hide scrollbar in WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
html {
  scrollbar-width: none;
}
/* Card container */
.unique-card {
  background-color: #1D2344;
  border-radius: 30px;
}

/* Title */
.unique-title {
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0;
  color: white;
  font-size: small;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
}

/* Card image */
.unique-card-img {
  height: 25vh;
  width: 100%;
  filter: drop-shadow(0 -0.8rem 1.3rem #74a4e2);
  padding-top: 10px;
  padding-bottom: 10px;
  object-fit: contain;
  
}

/* Footer container */
.unique-footer {
  background-color: #141c31;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer span */
.unique-footer-span {
  background-color: #201e36;
  padding: 0;
  margin: 0;
  border-radius: 100px;
  border: 1px solid #403f62;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button */
.unique-button {
  text-align: center;
  letter-spacing: 0.01px;
  background: #e0e5fe;
  font-family: Bangers, sans-serif;
  font-size: 17px;
  color: #342a9b;
  border-radius: 50px;
  padding: 2px 8px;
  border: 2px solid #342a9b;
  width: 75%;
}

/* Price span */
.unique-price {
  color: white;
  padding: 0 10px;
  font-family: Bangers, sans-serif;
  padding-right: 15px;
  font-size: 1rem;
}

/* Card container */
.custom-card {
  background-color: #1D2344;
  border-radius: 30px;
}

/* Card image */
.custom-mask-img {
  width: 100%;
}

/* Footer container */
.custom-footer {
  background-color: #141c31;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer span */
.custom-footer-span {
  background-color: #201e36;
  padding: 0;
  margin: 0;
  border-radius: 100px;
  border: 1px solid #403f62;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button */
.custom-btn {
  text-align: center;
  letter-spacing: 0.01px;
  background: #e0e5fe;
  font-family: Bangers, sans-serif;
  font-size: 17px;
  color: #342a9b;
  border-radius: 50px;
  padding: 2px 8px;
  border: 2px solid #342a9b;
  width: 75%;
}

/* Price span */
.custom-price {
  color: white;
  padding: 0 10px;
  font-family: Bangers, sans-serif;
  padding-right: 15px;
  font-size: 1rem;
}

/* Class for product images */
.product-image {
  height: auto;
  width: 110px;
  object-fit: contain;
  filter: drop-shadow(0 0 2px #342a9b);
}
